* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ###################################### */
.badgeFavicon {
    width: 16px;
    height: 16px;
}

/* ###################################### */
/* STARTSCREEN */
.start-screen {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #141421, #213e8e);
    color: white;
    position: relative;
    z-index: 10;
}

.start-screen h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: crimson;
}

.btn {
    position: relative;
    background-image: linear-gradient(#d3cdc5, #25221e);
    color: crimson;
    text-decoration: none;
    text-shadow: 1px 1px 5px black;
    border-radius: 50px;
    box-shadow: inset 0px 0px 10px black;
    margin: 0 auto;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    border: 6px solid silver;
    cursor: pointer;
}

.btn::after {
    content: "";
    position: absolute;
    inset: -3.5px;
    border-radius: inherit;
    border: 1.5px solid black;
    box-sizing: border-box;
}

.btn:hover {
    box-shadow: inset 0px 0px 10px black, 0px 0px 15px #d3cdc5;
}

/* ###################################### */
/* SLIDESHOW CONTAINER */
.slideshow {
    display: none;
    position: fixed;
    inset: 0;
    background: black;
    overflow: hidden;
    z-index: 5;
}

.slideshow.active {
    display: block;
}

/* SLIDE BASIS */
.slide {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    will-change: opacity, transform, clip-path;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Dynamic Animations */
/* FADE */
.slide.fx-fade {
    transition: opacity 2s ease-in-out;
    opacity: 0;
}

.slide.fx-fade.active {
    opacity: 1;
}

.slide.fx-fade.exit {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}